* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
}

.container {
    width: 1000px;
    margin: 20px auto;
}

.center {
    display: flex;
    justify-content: center;
}

.hide {
    display: none;
}

.container_posts {
    padding-top: 10px
}

.container_login {
    padding-top: 30px;
}