.Profile {
    margin: 50px 20px 0px;
    border-style: solid;
    text-align: left;
}

.profileField {
    text-align: left;
    margin-left: 30px;
}

#profileName {
    font-size: 64px;
    font-weight: bold;
}

#profileSid {
    font-size: 20px;
}

#profileCourseLabel {
    font-size: 30px;
}

#profileCourse {
    font-size: 30px;
    font-weight: bold;
}

#profileBio {
    font-size: 14px;
}


.results {
    margin: 50px;
}

.singleResult {
    border-style: solid;
    margin-top: -3px;
    text-align: left;
}

.resultName {
    margin-left: 30px;
}

.resultSubtext {
    margin-left: 20px;
}