.Profile {
    margin: 50px 20px 0px;
    border-style: solid;
    text-align: left;
}

.proffield {
    text-align: left;
    margin-left: 30px;
}

#profname {
    font-size: 64px;
    font-weight: bold;
}

#profsid {
    font-size: 20px;
}

#profcourselabel {
    font-size: 30px;
}

#profcourse {
    font-size: 30px;
    font-weight: bold;
}

#profbio {
    font-size: 14px;
}

/* Registration */
/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  hr {
    border: 2px solid #d65e5e;
    margin-bottom: 25px;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  button:hover {
    opacity:1;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    width: 20%;
    background-color: #c73a3a;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .signupbtn {
    width: 20%;
    background-color: #4CAF50; 
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  /* Float cancel and signup buttons and add an equal width */
  .cancelbtn, .signupbtn {
    display: inline-block;
    margin-left: 20%;
    margin-top: 3%;
  }
  
  /* Add padding to container elements */
  .Registration {
    padding: 16px;
  }
  
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Change styles for cancel button and signup button on extra small screens */
  @media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
      width: 100%;
    }
  }
  
  :root {
  --main-color: #c73a3a;
  --secondary-color: white;
  --main-text-color: #3e5869;
  --secondary-text-color: #b0c7d6;
  --send-message-form: #F5F5F5;
}


/*
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: system-ui;
  font-weight: 200;
  color: #3e5869; 
}

.App-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  color: var(--secondary-color);
  background: var(--main-color);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


.send-message-form {
  background: var(--send-message-form);
  display: flex;
  box-sizing: border-box;
  height: 60px;
}
.send-message-form input {
  width: 100%;
  padding: 15px 10px;
  border: none;
  margin: 0;
  background: var(--send-message-form);
  font-weight: 200;
  
}

.send-message-form input:focus {
  outline-width: 0;
}

.send-message-form input::placeholder {
  color: black;
}


input[type=submit] {
  width: 10%;
  background-color: #c73a3a;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #d89b9b;
}


.message-list {
  background: var(--main-color);
  color: var(--secondary-color);
  padding: 4px 8px;
  border-radius: 8px;
  width:15%;

}

/* Chat: */
:root {
    --main-color: #c73a3a;
    --secondary-color: white;
    --main-text-color: #3e5869;
    --secondary-text-color: #b0c7d6;
    --send-message-form: #F5F5F5;
  }
  
  
  /*
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: system-ui;
    font-weight: 200;
    color: #3e5869; 
  }
  */
  .App-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: var(--secondary-color);
    background: var(--main-color);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .App-title {
    font-size: 1.5em;
  }
  
  .App-intro {
    font-size: large;
  }
  
  
  .send-message-form {
    background: var(--send-message-form);
    display: flex;
    box-sizing: border-box;
    height: 60px;
  }
  .send-message-form input {
    width: 100%;
    padding: 15px 10px;
    border: none;
    margin: 0;
    background: var(--send-message-form);
    font-weight: 200;
    
  }
  
  .send-message-form input:focus {
    outline-width: 0;
  }
  
  .send-message-form input::placeholder {
    color: black;
  }
  
  
  input[type=submit] {
    width: 10%;
    background-color: #c73a3a;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #d89b9b;
  }
  
  
  .message-list {
    background: var(--main-color);
    color: var(--secondary-color);
    padding: 4px 8px;
    border-radius: 8px;
    width:15%;
  
  }