:root {
  --main-color: #c73a3a;
  --secondary-color: white;
  --main-text-color: #3e5869;
  --secondary-text-color: #b0c7d6;
  --send-message-form: #F5F5F5;
}



html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: system-ui;
  font-weight: 200;
  color: #3e5869; 
}

.App-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  color: var(--secondary-color);
  background: var(--main-color);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


.send-message-form {
  background: var(--send-message-form);
  display: flex;
  box-sizing: border-box;
  height: 60px;
}
.send-message-form input {
  width: 100%;
  padding: 15px 10px;
  border: none;
  margin: 0;
  background: var(--send-message-form);
  font-weight: 200;
  
}

.send-message-form input:focus {
  outline-width: 0;
}

.send-message-form input::placeholder {
  color: black;
}


input[type=submit] {
  width: 10%;
  background-color: #c73a3a;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #d89b9b;
}


.message-list {
  background: var(--main-color);
  color: var(--secondary-color);
  padding: 4px 8px;
  border-radius: 8px;
  width:15%;

}

